.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  box-sizing: border-box;
  padding: 15px 0px;
  width: 50%;
  border: none;
  background-color: #FF8FB1;
  color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
}